$background-color: #ecf0f1;
$primary-color: #4b77be;

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

iframe {
    height: calc(100% - 90px);
    width: 100%;
    overflow: scroll;
}

.navbar {
    list-style-type: none;
    float: left;
    width: 100%;
    background-color: $background-color;

    li {
	float: left;
        position: relative;

	a {
            display: block;
	    color: #000;
            padding: 8px 16px;
	    text-decoration: none;

            &:hover {
		background-color: $primary-color;
                color: #fff;
	    }
        }

	ul li {
            width: 100%;
	}

	&:hover > ul {
            display: block;
	    position: absolute;
        }
    }

    ul {
	list-style-type: none;
        background-color: $background-color;
        display: none;
	width: 100%;
    }
}

$top-height: 500px;
$content-height: 570px;
$content-width: 730px;

.module {
    float: left;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: $background-color;
    padding: 10px;
    margin: auto;
    border: 1px solid #888;
    width: $content-width;
    height: $content-height;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover {
	color: #000;
        text-decoration: none;
	cursor: pointer;
    }
}

#navmenu {
    width: 100%;
    position: absolute;
    z-index: 1;
}

#wrapper {
    position: relative;
    height: $top-height;
}

#module-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#background-img {
    background-image: url('resources/uiowa.jpeg');
    background-size: contain;
    opacity: .3;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#footer {
    
}

.logo {
    display: block;
    margin: auto;
    width: 150px;
}

.right {
    float: right;
}