$background-color: #ecf0f1;
$primary-color: #4b77be;

html {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

iframe {
    height: 400px;
    width: 100%;
    overflow: scroll;
}

.navbar {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $background-color;

    li {
	float: left;

	a {
            display: block;
	    color: #000;
            padding: 8px 16px;
	    text-decoration: none;

            &:hover {
		background-color: $primary-color;;
                color: #fff;
	    }
        }

	&:hover > ul {
            display: block;
	    position: absolute;
        }
    }

    ul {
	list-style-type: none;
        background-color: $background-color;
        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: $background-color;
    //margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover {
	color: #000;
        text-decoration: none;
	cursor: pointer;
    }
}

$nav-height: 37px;
$top-height: 500px;

#navmenu {
    width: 100%;
    height: $nav-height;
    position: absolute;
    z-index: 1;
}

#wrapper {
    position: relative;
    top: $nav-height;
    height: $top-height;
}

#module-wrapper {
    position: relative;
    top: $nav-height;
    display: inline-block;
}

#background-img {
    background-image: url('resources/uiowa.jpeg');
    background-size: contain;
    opacity: .3;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#footer {
    
}

.logo {
    display: block;
    margin: auto;
    width: 150px;
}

.right {
    float: right;
}